<!-- your html code here -->
<div class="container-fluid" style="display:flex; justify-content:space-between;">
    <div class="container">
    <p style="font-size: larger;"> <strong>The First Heading</strong> Will Catch Your Eye</p>
    <h6> Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Beatae, voluptates!, fugit sunt beatae perferendis
        quia impedit Lorem ipsum dolor sit amet </h6>
    </div>
    <img width="20%" height="20%" src="./assets/img/1.jpg" class="rounded-circle" alt="foto">
</div>
